In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path = 'https://drive.google.com/uc?export=download&id=1zNVdFzREtUUlBJ54xvYQ3JlD4HWh8eNq'
data = pd.read_csv(path)
print(data.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

In [4]:
print(data.shape)

(8704, 25)

In [5]:
print(data.dtypes)

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [6]:
miss_part = pd.isnull(data)
print(miss_part.sum())

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [7]:
new_data = data.drop(['Специализация', 'Университет', 'Предметная.область', 'Валюта', 'cls'], axis = 1)

In [8]:
print(new_data.head())
print(new_data.shape)

   N                 Должность Язык.программирования Общий.опыт.работы  \
0  1        Junior QA engineer                   NaN               0.5
1  2        Junior QA engineer                   NaN  меньше 3 месяцев
2  3         Software Engineer               C#/.NET                 4
3  4         Software Engineer            JavaScript                 5
4  5  Senior Software Engineer            JavaScript    10 и более лет

  Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                          0.5               400
1             меньше 3 месяцев               430
2                            1              2500
3                            4              2000
4                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  \
0                                 0  Харьков       до 10 человек
1                               130  Харьков  свыше 1000 человек
2                               800     Киев     до 1000 человек
3                               400   Одесса      до 200 человек
4                               500   Другой       до 10 человек

     Тип.компании      Пол  Возраст           Образование  Еще.студент  \
0  Аутсорсинговая  женский       20  Незаконченное высшее         True
1  Аутсорсинговая  женский       21  Незаконченное высшее         True
2  Аутсорсинговая  мужской       26                Высшее        False
3     Продуктовая  мужской       30               Среднее        False
4     Продуктовая  мужской       30    Техникум / Колледж        False

  Уровень.английского      Дата.заполнения  \
0       ниже среднего  12/06/2017 12:38:08
1       выше среднего  12/06/2017 12:42:51
2             средний  12/06/2017 13:02:47
3       ниже среднего  12/06/2017 13:03:01
4             средний  12/06/2017 13:03:47

                                          User.Agent   exp  current_job_exp  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   0.5              0.5
1  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...   0.0              0.0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   4.0              1.0
3  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...   5.0              4.0
4  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...  10.0              0.5

   salary
0     400
1     430
2    2500
3    2000
4    4500
(8704, 20)

In [9]:
miss_part = pd.isnull(new_data)
print(miss_part.sum())

N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

In [10]:
after_drop_data = data.dropna()
print(after_drop_data.head())
print(after_drop_data.shape)

Empty DataFrame
Columns: [N, Должность, Язык.программирования, Специализация, Общий.опыт.работы, Опыт.работы.на.текущем.месте, Зарплата.в.месяц, Изменение.зарплаты.за.12.месяцев, Город, Размер.компании, Тип.компании, Пол, Возраст, Образование, Университет, Еще.студент, Уровень.английского, Предметная.область, Дата.заполнения, User.Agent, exp, current_job_exp, salary, Валюта, cls]
Index: []

[0 rows x 25 columns]
(0, 25)

In [11]:
python_data = data[data['Язык.программирования'] == 'Python']
print(python_data.head())
print(python_data.shape)

       N                 Должность Язык.программирования Специализация  \
12    13         Software Engineer                Python           NaN
68    69         Software Engineer                Python           NaN
87    88  Junior Software Engineer                Python           NaN
114  115  Junior Software Engineer                Python           NaN
143  144  Junior Software Engineer                Python           NaN

    Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
12                  1             меньше 3 месяцев               800
68                1.5                          0.5               900
87                0.5                          0.5               600
114               1.5                          0.5               685
143                 1                            1               750

     Изменение.зарплаты.за.12.месяцев Город  Размер.компании  ... Еще.студент  \
12                                200  Киев    до 50 человек  ...       False
68                                900  Киев    до 10 человек  ...        True
87                                  0  Киев    до 10 человек  ...        True
114                               250  Киев  до 1000 человек  ...       False
143                               250  Киев    до 10 человек  ...        True

    Уровень.английского        Предметная.область      Дата.заполнения  \
12        ниже среднего     Веб-разработка,Другое  12/06/2017 13:05:54
68        выше среднего            Веб-разработка  12/06/2017 13:11:17
87        выше среднего  Веб-разработка,eCommerce  12/06/2017 13:12:25
114             средний                    Другое  12/06/2017 13:14:52
143       выше среднего            Веб-разработка  12/06/2017 13:19:10

                                            User.Agent  exp current_job_exp  \
12   Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  1.0             0.0
68   Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  1.5             0.5
87   Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  0.5             0.5
114  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  1.5             0.5
143  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...  1.0             1.0

    salary Валюта  cls
12     800    NaN  DEV
68     900    NaN  DEV
87     600    NaN  DEV
114    685    NaN  DEV
143    750    NaN  DEV

[5 rows x 25 columns]
(207, 25)

In [36]:
grouped_data = python_data.groupby(['Должность']).agg({'Зарплата.в.месяц': ['min', 'max']})
grouped_data

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

In [25]:
def fill_avg_salary(row):
  
  new_row = row['Зарплата.в.месяц']
  #print(new_row['min'])
  return (new_row['min'] + new_row['max']) / 2

In [31]:
avg_data = grouped_data.apply(fill_avg_salary, axis = 1)
print(avg_data)

Должность
Junior Software Engineer     675.0
Senior Software Engineer    5250.0
Software Engineer           2950.0
System Architect            4000.0
Technical Lead              3812.5
dtype: float64

In [37]:
grouped_data['Зарплата.в.месяц','avg'] = avg_data
grouped_data

                         Зарплата.в.месяц
                                      min   max     avg
Должность
Junior Software Engineer              100  1250   675.0
Senior Software Engineer             1300  9200  5250.0
Software Engineer                     500  5400  2950.0
System Architect                     3000  5000  4000.0
Technical Lead                       1425  6200  3812.5

In [39]:
grouped_data['Зарплата.в.месяц','avg'].describe()

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: (Зарплата.в.месяц, avg), dtype: float64

In [40]:
grouped_data.to_csv('grouped_data.csv')